main{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.caixa-main{
    display: flex;
    width: 100%;
    margin: 5%;
    justify-content: space-evenly;
}

.studant-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.studant-img img{
    width: 50%;
}

.texto-escolha{
    width: 100%;
    font-size: clamp(2rem, 5vw, 4.5rem);
}

.devices-imgs{
    width: 50%;
}

.caixa-inform-devices{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 100px;
}

.curso-cor{
    color: var(--azul-opaco);
}


.cursos{
    display: flex;
    gap: 40px;
    width: 100%;
    height: 37rem;
    flex-direction: column;
}

.container-link{
    display: flex ;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-opaco);
    box-shadow: 20px 20px 7px var(--sombra-curso);
    width: 100%;
    height: 100%;
}

.container-link a{
    margin-left: 5%;
}

.link{
    font-size: clamp(1rem, 5vw, 4rem);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-caixa{
    padding: 5%;
    width: 40%;
}

@media(max-width:1400px){
    .caixa-main{
        margin-top: 20%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .devices-imgs{
        display: none;
    }
    .studant-img{
        display: none;
    }
    .cursos{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-link{
        width: 90%;
        box-shadow: none;
    }
}