main{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.caixa-main{
    display: flex;
    width: 100%;
    margin: 5%;
    justify-content: space-evenly;
}

.texto-escolha{
    width: 80%;
    font-size: clamp(2rem, 5vw, 4.5rem);
}

.devices-imgs{
    width: 50%;
}

.caixa-inform-devices{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.curso-cor{
    color: var(--azul-opaco);
}


.cursos{
    display: flex;
    gap: 40px;
    width: 25%;
    height: 37rem;
    flex-direction: column;
}

.container-link{
    display: flex ;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-opaco);
    box-shadow: 20px 20px 7px var(--sombra-curso);
    width: 100%;
    height: 100%;
}

.link{
    font-size: clamp(1rem, 5vw, 4rem);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-caixa{
    width: 30%;
}

@media(max-width:1400px){
    .caixa-main{
        display: flex;
        flex-direction: column;
    }
    .caixa-icone, .devices-imgs{
        display: none;
    }
    .caixa-inform-devices{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .container-link{
        display: flex;
        height: 30%;
        width: 120%;
        box-shadow: none;
    }
    .texto-escolha{
        font-size: clamp(0.7rem, 5vw, 3.5rem);
    }
    .link{
        font-size: clamp(0.5rem, 5vw, 3.5rem);
    }
}