main{
    height: 100vh;
}
.legenda{
    display: flex;
    gap: 10px;
}

.legenda li{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.cor{
    width: 10px;
    height: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.azul{
    background: #3347B0;
}

.amarelo{
    background-color: #E5B657;
}

.status{
    font-family: 'Roboto';
    font-size: 1rem;
    color: #3347B0;
}

h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #3347B0;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100vw;
    justify-content: center;
}



.caixa-alunos{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aluno{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.caixa-aluno{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 200px;
}

.caixa-aluno-azul{
    background-color: var(--azul-alunos);
    
}

.caixa-aluno-amarelo{
    background-color: var(--amarelo-alunos);
}


.img-aluno{
    width: 90%;
}

.span-nome{
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: clamp(0.2rem, 5vw, 1.5rem);
}