main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.info-aluno{
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    height: 50%;
    padding: 7%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.info-aluno img{
    height: 90%;
}

.info-aluno span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #3347B0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.caixa-desempenho{
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    padding: 4%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.desempenho{
    height: 100%;
    background: #EEEFF8;
    width: 20px;
    display: flex;
    align-items: flex-end;
}

.desempenho-barra{
    border-radius: 4px 4px 0px 0px;
    width: 100%;
}

.barra{
    display: flex;
    flex-direction: column;
}

.nota{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 27px;
}

.azul{
    background: #3347B0;
    box-shadow: 0px 0px 24px #3347B0;
}

.azul-text{
    color: #3347B0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.amarelo{
    background: #E5B657;
    box-shadow: 0px 0px 24px #E5B657;
}

.amarelo-text{
    color: #E5B657;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.vermelho{
    background: #C11010;
    box-shadow: 0px 0px 24px #C11010;
}

.vermelho-text{
    color: #C11010;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.disciplina{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 27px;
    text-transform: uppercase;

    color: #3347B0;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}